name: Simple Max Spec (16GB/8CPU/32GB)

on: workflow_dispatch

jobs:
  vps:
    runs-on: ubuntu-latest-16core
    timeout-minutes: 360
    
    steps:
    - name: Start Tmate with Max Spec
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: false
